.w {
    width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff2') format('woff2'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.header {
    border-bottom: 2px solid #b1191a;
}

.header_top {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}

.header_top .header_top_nav {
    float: right;
}

.header_top a,
.header_center .shopping a {
    font-family: 'iconfont';
    padding: 0 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header_top ul li {
    float: left;
}

.header_top ul li a:nth-child(-n+6) {
    border-right: 1px solid #666;
}

.header_top .register1 {
    padding: 0;
    color: #c81623;
}

.header_center {
    margin: 27px auto;
    height: 55px;
}

.header_center .logo {
    float: left;
    width: 220px;
    height: 55px;
}

.header_center .search {
    float: left;
    margin-left: 130px;
    height: 55px;
}

.header_center input {
    float: left;
    padding: 15px;
    height: 35px;
    width: 455px;
    border: 2px solid #b1191a;
    border-right: 0;
    outline: 0;
}

.header_center button {
    float: left;
    margin-bottom: 8px;
    height: 35px;
    width: 80px;
    border: 0;
    background-color: #b1191a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.header_center .search_nav a {
    padding: 12px;
}

.header .red {
    color: #b1191a;
}

.header_center .shopping {
    position: relative;
    float: right;
    margin-right: 64px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}

.header_center .shopping::after {
    position: absolute;
    top: -10px;
    right: 18px;
    content: '';
    width: 16px;
    height: 14px;
    background: url(../images/8.png) no-repeat center;
}

.header_bottom {
    line-height: 45px;
    height: 45px;
}

.header_bottom span {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.header_bottom_nav {
    float: left;
    margin-left: 10px;
    padding-left: 8px;
}

.header_bottom_nav ul li {
    float: left;
}

.header_bottom_nav ul li a {
    padding: 0 22px;
    font-family: 'iconfont';
    font-size: 16px;
}

.footer {
    height: 415px;
    background-color: #f5f5f5;
}

.footer_top {
    height: 110px;
    border-bottom: 1px solid #ccc;
}

.footer_top ul li {
    float: left;
    width: 220px;
    padding: 30px 0 0 36px;
    vertical-align: middle;
}

.footer_top ul li h4,
.footer_top ul li img,
.footer_top ul li span {
    float: left;
}

.footer_top ul li h4 {
    font-size: 14px;
    width: 100px;
    margin-bottom: 2px;
}

.footer_top ul li img {
    margin-right: 5px;
}

.footer_center {
    height: 190px;
    border-bottom: 1px solid #ccc;
}

.footer_center dl {
    padding-left: 52px;
    float: left;
    width: 200px;
}

.footer_center dl dt {
    font-size: 16px;
    margin: 20PX 0 15PX 0;
}

.pd {
    padding-left: 10px;
}

.footer_center dl img {
    height: 85px;
    width: 85px;
}

.footer_bottom {
    text-align: center;
}

.footer_bottom ul {
    width: 980px;
    margin: 17px auto;
}

.footer_bottom ul li {
    float: left;
}

.footer_bottom ul li a {
    padding: 0 13px;
}

.footer_bottom ul li a:nth-of-type(-n+11) {
    border-right: 1px solid #ccc;
}