.emphasize {
    font-weight: 700;
    color: #333;
}

.emphasize:hover {
    color: #333;
    cursor: text;
}

.list_bg {
    height: 120px;
    padding: 23px 0;
    margin-bottom: 25px;
    background: url(../images/bg.png) no-repeat center;
    text-align: center;
    color: #333;
}

.list_bg h3 {
    margin-bottom: 5px;
    font-family: 'iconfont';
    font-size: 24px;
    color: #c81523;
}

.list_bg h3 span {
    font-size: 34px;
}

.shoes_goods {
    margin-bottom: 10px;
}

.shoes_goods ul li {
    float: left;
    width: 290px;
    background: url(../upload/ipone.png) no-repeat center 0px;
    cursor: pointer;
}

.shoes_goods ul li:nth-child(-n+3) {
    margin-right: 13px;
}

.shoes_goods ul li p {
    float: left;
    font-size: 14px;
    line-height: 22px;
    margin: 295px 12px 8px 12px;
}

.shoes_goods ul li .shoes_goods_red {
    float: left;
    width: 64px;
    margin: 0px 12px 10px 12px;
    font-size: 22px;
    color: #e60012;
    text-decoration: none;
}

.shoes_goods ul li span {
    float: left;
    text-decoration: line-through;
    font-size: 14px;
    margin: 12px 150px 10px 0;
    color: #a4a4a4;
}

.shoes_goods ul li em {
    float: left;
    margin: 0 12px;
}

.shoes_goods ul li .jindu {
    float: left;
    width: 132px;
    height: 12px;
    border-radius: 5px;
    margin-top: 3px;
    border: 1px solid #e60012;
}

.shoes_goods ul li .jindu_red {
    width: 85%;
    height: 100%;
    background-color: #e60012;
}

.shoes_goods ul li button {
    margin: 14px 0 0 0px;
    height: 50px;
    width: 100%;
    background-color: #e60012;
    border: 0;
    font-size: 20px;
    color: #fff;
    outline: none;
}

.shoes_goods ul li:hover {
    border: 1px solid #e60012;
}

.blank {
    height: 300px;
}

.back {
    position: fixed;
    left: 50%;
    top: 700px;
    margin-left: 613px;
    width: 68px;
}

.back .back_top,
.back_phone {
    padding-top: 13px;
    height: 69px;
    background-color: #e60012;
    text-align: center;
    font-family: 'iconfont';
}

.back_top {
    font-size: 20px;
    margin-bottom: 1px;
}

.back .back_top p {
    height: 20px;
    line-height: 20px;
}

.back a,
.back a:hover {
    color: #fff;
}

.back .back_phone {
    padding-top: 8px;
    font-size: 36px;
}