* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f5f7;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* 1.头部 */

.header a:hover {
    border-bottom: 2px solid #00a4ff;
}

.header button {
    border: 0;
}

.header {
    height: 42px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header .logo {
    float: left;
}

.header .nav ul {
    float: left;
    margin-left: 10px;
}

.header .nav ul li,
.user li {
    float: left;
    height: 42px;
}

.header .nav ul li a,
.user li a {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    text-align: center;
    font-size: 18px;
    color: #050505;
}

.header .search {
    float: left;
    height: 42px;
    margin-left: 100px;
}

.header .search input {
    float: left;
    height: 40px;
    width: 300px;
    padding-left: 10px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
}

.header .user ul {
    float: left;
    height: 42px;
    margin: 0 15px;
}

.header.user li a {
    color: #666;
    font-size: 14px;
}


/* 2.banner */

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .bgc {
    height: 420px;
    background-image: url(images/bgc.png);
    background-repeat: no-repeat;
}

.banner .bgc .nav2 {
    width: 190px;
    height: 420px;
    background-color: rgba(28, 3, 0, 0.2);
}

.banner .bgc .nav2 ul {
    margin-top: 7px;
    margin-bottom: 8px;
}

.banner .bgc .nav2 ul li a {
    display: block;
    height: 45px;
    width: 190px;
    line-height: 45px;
    color: #fff;
}

.banner .bgc .nav2 ul li span {
    float: right;
}

.banner .bgc .nav2 ul li a:hover,
.banner .bgc .nav2 ul li span:hover {
    color: #00b4ff;
}


/* 3.导航栏 */

.nav3 {
    height: 60px;
    margin-top: 8px;
    box-shadow: -1px 1px 10px 1px rgba(224, 213, 213, .6);
    background-color: #fff;
}

.nav3 .nav31 li {
    float: left;
}

.nav3 .nav31 li a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    font-size: 16px;
    color: #666;
}

.nav3 .nav31 li a:hover {
    color: #00a4ff;
}

.nav3 .nav31 li span {
    color: #bfbfbf;
}

.nav3 .nav31 .right {
    float: right;
    padding-right: 30px;
}

.nav3 .nav31 .right a {
    font-size: 14px;
}

.bar {
    overflow: hidden;
    margin-top: 38px;
    margin-bottom: 22px;
}

.bar .left {
    float: left;
    font-size: 20px;
    color: #494949;
}

.bar .right {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    color: #a5a5a5;
}

.bar a:hover {
    color: #00a4ff;
}


/* 4.精品推荐 */

.content {
    overflow: hidden;
    height: 275px;
    width: 1200px;
    margin-bottom: 15px;
}

.box {
    float: left;
    height: 270px;
    width: 228px;
    margin-right: 15px;
    background-color: #fff;
}

.right2 {
    margin-right: 0;
    float: left;
    height: 270px;
    width: 228px;
    background-color: #fff;
}

.box p,
.right2 p {
    margin: 25px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
}

.box h4,
.right2 h4 {
    display: inline-block;
    margin-left: 25px;
    font-weight: normal;
    font-size: 12px;
    color: #ff7c2d;
}

.box span,
.right2 span {
    font-size: 12px;
    color: #999;
}

.box:hover,
.right2:hover {
    box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.6);
}


/* 5.编程入门 */

.bar {
    overflow: hidden;
    margin-top: 38px;
    margin-bottom: 22px;
}

.bar a {
    font-size: 16px;
    color: #868686;
}

.bar ul {
    margin-top: 5px;
    margin-left: 400px;
}

.bar ul li {
    float: left;
    margin: 0 35px;
}

.content1 {
    overflow: hidden;
    height: 395px;
}

.content1 .left1 {
    float: left;
    height: 392px;
    width: 228px;
    margin-right: 15px;
}

.content1 .right3 {
    float: left;
    width: 957px;
    height: 100px;
    margin-bottom: 22px;
}

.left1:hover,
.right3:hover {
    box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.6);
}

.content2 {
    overflow: hidden;
    height: 325px;
}

.box2,
.right22 {
    height: 320px;
}

.box3 {
    width: 471px;
}

.footer {
    margin-top: 100px;
    height: 270px;
    background-color: #fff;
}

.center {
    margin-top: 35px;
}

.left4 {
    float: left;
    margin-left: 20px;
    margin-top: 35px;
}

.left4 .logo {
    margin-bottom: 25px;
}

.left4 p {
    line-height: 18px;
    height: 18px;
    font-size: 12px;
    color: #666;
}

.left4 button {
    float: left;
    width: 120px;
    height: 35px;
    border: 1px solid #00a4ff;
    margin-top: 15px;
    color: #00a4ff;
    font-size: 16px;
    background-color: #fff;
}

.right4 {
    float: right;
    margin-right: 30px;
    margin-top: 35px;
}

.right4 dl {
    float: right;
    margin-left: 120px;
}

.right4 dl dt {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.right4 dl a {
    font-size: 12px;
    color: #333;
}

.right4 dl a:hover {
    color: skyblue;
}