* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-size: 12px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #1d77bf;
}

a:hover {
    border-bottom: 1px solid #1d77bf;
}


/* 1.header部分 */

.header {
    height: 80px;
    border-bottom: 1px solid #d6dfea;
    background-color: #eff4fa;
}

.header .logo {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.header .logo a:hover {
    border: none;
}

.header .sidebar {
    float: right;
    margin-right: 50px;
}

.header .sidebar ul li {
    float: right;
    height: 80px;
    line-height: 80px;
}

.header .sidebar ul li span {
    color: #b6b6c5;
}


/* 2.content部分 */

.content {
    overflow: hidden;
}

.content .left {
    float: left;
    overflow: hidden;
    height: 255px;
    width: 249px;
    margin-top: 95px;
    margin-left: 310px;
}

.content .left h4 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #6f95c8;
    line-height: 26px;
    font-weight: normal;
}

.content .left {
    line-height: 24px;
    font-size: 14px;
    color: #000000;
}

.content .center {
    float: left;
    height: 324px;
    width: 304px;
    margin-top: 140px;
    background-image: url(images/tg-mail20f1b0.gif);
    background-repeat: no-repeat;
}

.content .right {
    float: left;
    width: 338px;
    height: 385px;
    margin-top: 70px;
    margin-left: 70px;
    border-radius: 7px;
    border: 1px solid #a0b1c4;
}

.content .right .underline {
    height: 40px;
    border-bottom: 1px solid #a0b1c4;
}

.content .right ul .one {
    float: left;
    margin-left: 35px;
    font-size: 16px;
    line-height: 40px;
    color: #ccc;
}

.content .right ul .two {
    float: right;
    margin-right: 35px;
    font-size: 16px;
    line-height: 40px;
}

.content .right input {
    float: left;
    margin-left: 20px;
}

.content .right .text {
    margin-top: 30px;
    height: 35px;
    width: 295px;
    color: #b6b6c5;
}

.content .right .password {
    margin-top: 10px;
    height: 35px;
    width: 295px;
    color: #b6b6c5;
}

.content .right .check {
    margin-top: 25px;
}

.content .right .check1 {
    float: left;
    margin-top: 20px;
}

.content .right button {
    float: left;
    margin-top: 16px;
    margin-left: 20px;
    height: 38px;
    width: 295px;
    border: none;
    background-color: #5a98de;
    color: #fff;
    font-size: 16px;
}

.content .right .ma {
    float: left;
    margin-top: 20px;
    margin-left: 125px;
}

.content .right .forget {
    float: right;
    margin-right: 20px;
    margin-top: 110px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    background-color: #eff4fa;
    text-align: center;
}

.footer .last {
    color: rgb(112, 110, 110);
}