* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-size: 12px;
    background: #2c383e url(../images/bgindex.jpg) repeat-x;
    color: #666;
}

.w {
    overflow: hidden;
    width: 867px;
    margin: auto;
}

.header embed {
    height: 323px;
    width: 867px;
}

.nav {
    background-image: url(../images/linkbg.jpg);
    overflow: hidden;
}

.nav ul li {
    float: left;
    width: 124px;
    height: 51px;
    line-height: 51px;
    background: url(../images/linkr.gif) no-repeat right center;
    text-align: center;
}

.nav ul .last {
    width: 123px;
    background: none;
}

.nav ul li a {
    color: #fff;
}

.nav ul li a:hover {
    font-size: 14px;
    color: yellow;
    text-decoration: underline;
}

#sidebar {
    float: left;
    width: 266px;
    height: 850px;
    background-color: #fff;
    border-right: 1px solid #ccc;
}

#sidebar embed {
    width: 220px;
    height: 200px;
    margin-left: 23px;
    margin-top: 20px;
}

#content {
    float: right;
    width: 600px;
    height: 850px;
    background-color: #fff;
}

#content h1 {
    margin-top: 20px;
    margin-left: 20px;
}

#content ul {
    margin: 10px 0 30px 40px;
    line-height: 180%;
}

#content a:hover {
    color: rgba(0, 102, 255, 1);
    text-decoration: underline;
}

#content p {
    margin: auto;
    text-align: center;
}

#content p a {
    color: #666;
}

.footer {
    height: 110px;
    background-image: url(../images/bg.gif);
}

.footer .shengming {
    margin-top: 10px;
}

.footer p {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Tahoma;
    color: #ccc;
    font-size: 10px;
}